/* ===================================
   NotiMessage Component Styles
   =================================== */

.noti-message-body {
  border: none;
  padding: 0.75em 1em;
}

.bug-report {
  text-align: center;
}

.noti-strikethrough {
  text-decoration: line-through;
}
