@import "tailwindcss";

:root {
  --primary: #f5f5f5;
  --secondary: #333333;
  --background: var(--primary);
  --navbar-height: 0;
}

.disable-double-tap {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* Jaro font utility class for titles */
.jaro-title {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Pretendard font utility class */
.pretendard {
  font-family: "Pretendard", sans-serif;
}
