@charset "utf-8";
@import "https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css";

$family-sans-serif: "NanumSquare", sans-serif;
$primary: #f5f5f5;
$secondary: #333333;
$background: $primary;
$navbar-height: 0;

.disable-double-tap {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}